
h3{
  color: rgb(94, 172, 50);
  -webkit-text-stroke: 1px rgb(232, 248, 6);
 
  font-size: 23px;
}

body{
  background-image: url(R.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
background-position: center;

}

img{
  width: 160px;
  margin: 20px;
  border-radius: 40px;
}

#principal{
  color: rgb(28, 61, 9);
  text-align: center;
  font-size: 40px;
  -webkit-text-stroke: 1px rgb(232, 248, 6);
  float: right;

 
}

#titulo{
    margin-top: 10%;
    margin-left: 30%;
    color: rgb(98, 221, 27);
    font-size: 30px;
    -webkit-text-stroke: 1px rgb(106, 112, 25);

}


#Seccion{
  position: sticky;
}

#fav{
  color: rgb(98, 221, 27);
  -webkit-text-stroke: 1px rgb(106, 112, 25);
  
}

#favorites-button{
  background-color: rgb(98, 221, 27);
  -webkit-text-stroke: 1px rgb(106, 112, 25);
  border-radius: 30px;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}





#Buscar{
    width: 37%;
    color: rgb(0, 0, 0);
    margin-left: 30%;
   
}

#Button_Cocktails{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 30%;
    background-color: rgb(98, 221, 27);
    border-radius: 30px ;
    padding: 10px;

}

#Buscar::placeholder{
    color: rgb(0, 0, 0);
}
#laboratorio{
  font-size: 80px;
  color: aliceblue;
  margin-left: 17%;

}



.carousel{
  text-align: center;
  align-items: center;
  
}
.carousel-items {
  display: flex;
  align-items: center; /* Agregamos esta propiedad */
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%; /* Cambiamos el valor de top al 50% */
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px;
}



.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgb(98, 221, 27);
}

.carousel-prev {
    left: 20px;
  }
  
  .carousel-next {
    right: 20px;
  }

.container{
  align-content:space-between;
}

h2{

  color: rgb(78, 78, 197);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  margin-left: 10px;
}

ul{
  margin-left: 10px;
  list-style:none;
  font-size: large;

}

  
button{
  color: rgb(0, 0, 0);
  background-color: rgb(78, 78, 197);
  border-radius: 30px;
  margin-left: 10px;
  
}