*{
    background-color: rgb(156, 5, 5);
    
}

img{
  width: 160px;
  margin: 20px;
  
}

#titulo{
    margin-top: 10%;
    margin-left: 30%;
    color: aliceblue;
    font-size: 40px;

}



#Buscar{
    width: 40%;
    color: aliceblue;
    margin-left: 30%;

   
}

#Button_Cocktails{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 45%;
    background-color: rgb(32, 82, 8);
    border-radius: 30px ;
    width: 130px;
    padding: 10px;
    margin-bottom: 50px;
}

#Buscar::placeholder{
    color: antiquewhite;
}
#laboratorio{
  font-size: 80px;
  color: aliceblue;
  margin-left: 17%;

}

.carousel{
  text-align: center;
  align-items: center;
}
.carousel-items {
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
    
    
  }

.carousel-prev,
.carousel-next {
  position: absolute;
  margin-inline: 10px;
  top: 50%;
  transform: translateY(50%);
  transform: translateX(50%);
  font-size: 30px;
  background-color: rgb(32, 25, 25);
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4;
  
 
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(51, 255, 0, 0.8);
}

.carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }

